.Ram
{
    background-color: chartreuse;
}
#shyam
{
    background-color: antiquewhite;
    
    text-decoration: dashed;
}
span{
    background-color: black;
    text-align: center;
    color: hotpink ;
    text-decoration: none;
    }
